.home3Card {
    background-color: #FBFBFB;
    width: 100%;
    margin-left: 60px;
    display: flex;
}

.eachHome3Card {
    margin-right: 5%;
    height: 500px;
    width: 25%;
}

.home3img {
    margin-top: 40px;
    width: 95%;
    margin-left: 2.5%;
}

.home3texts {
    text-align: center;
    font-size: 32px;
    line-height: 48px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .home3Card {
        background-color: #FBFBFB;
        width: 100%;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
    }

    .eachHome3Card {
        width: 100%;
        /* margin-right: 5%; */
        height: 500px;
    }
}