.homeHero {
    width: 100%;
    /* margin-top: -30px; */
}

.secondSection {
    width: 85%;
    margin: auto;
    margin-top: 80px;
    position: relative;
    margin-bottom: 250px;

    .heroContainerParagraph {
        line-height: 48px;
        font-size: 32px;
        /* margin: 40px 100px 0px 100px; */
    }

    .behealthyCont {
        display: grid;
        place-items: center;
    }

    #buddingplant {
        width: 350px;
        height: 385px;
    }

    .behealthytext {
        line-height: 60px;
        font-size: 55px;
        margin-left: 75px;
    }

    .twoCashewCont {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 310px;
        left: 260px
    }

    #twocashewfruit {
        width: 325px;
        height: 192px;
    }
}

.thirdSection {
    /* position: absolute; */
}

.greenCard {
    background-color: green;
    max-width: 50%;
    border-radius: 0%;
    height: 480px;
    margin-right: 2%;
}

.greenCard h4 {
    color: #FBFBFB;
    font-size: 32px;
    padding-top: 20px;
    line-height: 48px;
    padding: 100px 0 0 80px;
}

.greenCard h5 {
    color: #FBFBFB;
    font-size: 28px;
    font-weight: lighter;
    line-height: 40px;
    margin-top: 30px;
    padding: 0 80px 0px;
}

.export40text {
    margin-top: 20px;
    font-size: 32px;
    line-height: 48px;
    font-weight: bold;
    color: #33511F;
    padding-left: 10%;
    padding-right: 20%;

}

.fourthSection {
    /* position: absolute; */
    /* top: 20%; */
    /* left: 0; */
    margin-top: -160px;
}

.fifthSection {
    /* position: relative;   */
    /* top: 20%; */
    /* left: 0; */
}

@media screen and (max-width: 768px) {
    .homeHero {
        width: 100%;
        margin-top: 27px;
    }

    .greenCard {
        background-color: green;
        max-width: 100%;
        border-radius: 0%;
        height: 200px;
    }

    .greenCard h4 {
        color: white;
        font-size: 25px;
        padding-top: 20px;
        line-height: 48px;
        padding: 20px 0 0 50px;
    }

    .greenCard h5 {
        color: white;
        font-size: 18px;
        font-weight: lighter;
        line-height: 20px;
        margin-top: 20px;
        padding: 0 50px 0px;
    }


}