.homeHero {
    background-image: url('https://res.cloudinary.com/drlfylzhf/image/upload/v1713224450/1828Cashew/Rectangle_162_qque3f.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 820px;
    position: relative;
    z-index: 1;
}

.homeHero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 820px;
    background: linear-gradient(to right,
            #406627 0%,
            #4A6937 0%,
            transparent 100%);
}

.homeTitle {
    padding-top: 320px;
    width: 35%;
    color: #FBFBFB;
    font-size: 40px;
    line-height: 50px;
    margin-left: 100px;
    letter-spacing: 1px;
    word-spacing: 1px;
    z-index: 2;
    position: relative;
}

.homeHeroText {
    position: relative;
    padding-top: 15px;
    width: 29%;
    color: #FBFBFB;
    font-size: 22px;
    line-height: 32px;
    margin-left: 100px;
    letter-spacing: 1px;
    word-spacing: 5px;
    z-index: 2;
}

.secondSection {
    width: 70%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;

    .second-section-row {
        gap: 15px;
    }

    .behealthyCont {
        margin: auto;
        margin-left: 70px;
    }

    #buddingplant {
        width: 100%;
        height: 450px;
    }

    .behealthytext {
        line-height: 64px;
        font-size: 40px;
        font-weight: bold;
    }

    .wedevelopCont {
        box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
        padding-top: 40px;
        padding-bottom: 10px;
        width: 50%;
        border-radius: 10px;
    }

    .wedevelopImgCont {
        box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
        padding-top: 10px;
        padding-bottom: 10px;
        width: 50%;
        border-radius: 10px;
    }

    .wedevelopImg {
        width: 80%;
        height: 45px;
    }

    .heroContainerParagraph {
        line-height: 42.7px;
        font-size: 24px;
        word-spacing: 5px;
        width: 90%;
        margin-left: 5%;
        color: #4E4E4F;
        font-weight: 300;
    }

    .twoCashewCont {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 310px;
        left: 260px
    }

    #twocashewfruit {
        width: 325px;
        height: 192px;
    }
}

.third-section {
    width: 80%;
}


.home-carousel {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 5%;
    margin-bottom: 20px;
    width: 90%;
}


@media screen and (max-width: 900px) {
    .homeTitle {
        padding-top: 400px;
        width: 90%;
        color: #FBFBFB;
        font-size: 40px;
        line-height: 56px;
        margin-left: 5%;
        text-align: left;
    }

    .homeHeroText {
        padding-top: 50px;
        width: 90%;
        color: #FBFBFB;
        font-size: 28px;
        line-height: 40px;
        margin-left: 5%;
        text-align: left;
    }

    .secondSection {
        width: 95%;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .wedevelopCont {
        box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
        padding-top: 10px;
        padding-bottom: 20px;
        width: 100%;
        border-radius: 10px;
    }

    .heroContainerParagraph {
        line-height: 20px;
        font-size: 15px;
        word-spacing: 5px;
        width: 100%;
        margin-left: 2.5%;
        color: #4E4E4F;
        font-weight: 300;
    }


}

@media screen and (max-width: 768px) {
    .homeHero {
        width: 100%;
        background-size: auto;
        margin-top: 0px;
    }

    .homeTitle {
        padding-top: 220px;
        width: 90%;
        color: #FBFBFB;
        font-size: 40px;
        line-height: 56px;
        margin-left: 5%;
        text-align: left;
    }

    .homeHeroText {
        padding-top: 50px;
        width: 90%;
        color: #FBFBFB;
        font-size: 28px;
        line-height: 40px;
        margin-left: 5%;
        text-align: left;
    }

    .secondSection {
        width: 100%;

        .wedevelopCont {
            box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
            padding-top: 30px;
            padding-bottom: 30px;
            width: 95%;
            margin-left: 2.5%;
            border-radius: 10px;
        }

        .wedevelopImgCont {
            box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
            padding-top: 10px;
            padding-bottom: 10px;
            width: 90%;
            border-radius: 10px;
            display: none;
        }

        .wedevelopImg {
            width: 80%;
            height: 45px;
        }

        .behealthyCont {
            margin: auto;
            margin-left: 5%;
            margin-right: 5%;
        }


        #buddingplant {
            width: 100%;
            height: 450px;
        }

        .behealthyCont {
            margin: auto;
            margin-left: 0;
            margin-top: 20%;
        }

        .behealthytext {
            line-height: 44px;
            font-size: 35px;
            font-weight: bold;
            margin-left: 0px;
            text-align: left;
        }

        .heroContainerParagraph {
            line-height: 40px;
            font-size: 20px;
            word-spacing: 5px;
            width: 95%;
            margin-left: 2.5%;
            color: #4E4E4F;
            font-weight: 300;
        }
    }

    .second-section-row {
        width: 100%;
        margin: auto;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
    }

    .third-section {
        width: 100%;
    }

    .home-carousel {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 0%;
        margin-bottom: 20px;
        width: 100%;
    }

}