.homeHero {
    background-image: url('https://res.cloudinary.com/drlfylzhf/image/upload/v1709594039/1828Cashew/image_9_uolzcf.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 820px;
    position: relative;
    z-index: 1;
}

.homeHero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 820px;
    background: linear-gradient(to right,
            #406627 0%,
            #4A6937 0%,
            transparent 100%);
}

.homeTitle {
    padding-top: 450px;
    width: 43%;
    color: #FBFBFB;
    font-size: 40px;
    line-height: 56px;
    margin-left: 70px;
    letter-spacing: 1px;
    word-spacing: 5px;
    z-index: 2;
    position: relative;
}

.homeHeroText {
    position: relative;
    padding-top: 15px;
    width: 32%;
    color: #FBFBFB;
    font-size: 20px;
    line-height: 32px;
    margin-left: 70px;
    letter-spacing: 1px;
    word-spacing: 5px;
    z-index: 2;
}

.secondSection {
    width: 70%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;

    .behealthyCont {
        margin: auto;
        margin-left: 100px;
    }

    #buddingplant {
        width: 100%;
        height: 450px;
    }

    .behealthytext {
        line-height: 64px;
        font-size: 40px;
        font-weight: bold;
    }

    .heroContainerParagraph {
        line-height: 42.7px;
        font-size: 24px;
        word-spacing: 10px;
    }

    .twoCashewCont {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 310px;
        left: 260px
    }

    #twocashewfruit {
        width: 325px;
        height: 192px;
    }
}


.greenCard {
    background-color: #406627;
    max-width: 50%;
    padding: 70px 70px;
}

.greenCard h4 {
    width: 50%;
    color: #FBFBFB;
    font-size: 32px;
    line-height: 48px;
    margin-left: 20%;
    margin: auto;

}

.greenCard h5 {
    color: #FBFBFB;
    font-size: 24px;
    font-weight: lighter;
    line-height: 32px;
    margin-top: 30px;
    width: 65%;
    margin-left: 20%;
}

.export40 {
    background-color: #C4D3BA;
    padding: 70px 70px;
}

.export40text {
    font-size: 24px;
    line-height: 32px;
    font-weight: medium;
    color: #33511F;
    padding: 0 70px 0 70px;
    margin-top: 40px;
}



@media screen and (max-width: 840px) {
    .homeTitle {
        padding-top: 400px;
        width: 90%;
        color: #FBFBFB;
        font-size: 40px;
        line-height: 56px;
        margin-left: 5%;
        text-align: left;
    }

    .homeHeroText {
        padding-top: 50px;
        width: 90%;
        color: #FBFBFB;
        font-size: 28px;
        line-height: 40px;
        margin-left: 5%;
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    .homeHero {
        width: 100%;
        background-size: auto;
        margin-top: 0px;
        /* max-height: 400px; */
    }

    .homeTitle {
        padding-top: 220px;
        width: 90%;
        color: #FBFBFB;
        font-size: 40px;
        line-height: 56px;
        margin-left: 5%;
        text-align: left;
    }

    .homeHeroText {
        padding-top: 50px;
        width: 90%;
        color: #FBFBFB;
        font-size: 28px;
        line-height: 40px;
        margin-left: 5%;
        text-align: left;
    }

    .greenCard {
        background-color: green;
        max-width: 100%;
        border-radius: 0%;
        /* height: 200px; */
    }

    .greenCard h4 {
        color: white;
        font-size: 25px;
        padding-top: 10px;
        line-height: 28px;
        width: 80%;
        margin: auto;
    }

    .greenCard h5 {
        color: white;
        font-size: 22px;
        font-weight: lighter;
        line-height: 30px;
        margin: auto;
        margin-top: 30px;
        width: 80%;
    }

    .export40 {
        background-color: #C4D3BA;
        padding: 20px 20px;
    }

    .export40text {
        font-size: 24px;
        line-height: 32px;
        font-weight: medium;
        color: #33511F;
        padding: 0 50px 0 50px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .secondSection {
        width: 100%;

        .behealthyCont {
            margin: auto;
            margin-left: 5%;
            margin-right: 5%;
        }


        #buddingplant {
            width: 100%;
            height: 450px;
        }

        .behealthyCont {
            margin: auto;
            margin-left: 0;
            margin-top: 20%;
        }

        .behealthytext {
            line-height: 44px;
            font-size: 35px;
            font-weight: bold;
            margin-left: 0px;
            text-align: left;
        }

        .heroContainerParagraph {
            margin-top: 20px;
            line-height: 32.7px;
            font-size: 20px;
            word-spacing: 10px;
            margin-left: 0px;
            text-align: left;
        }
    }

    .second-section-row {
        width: 100%;
        margin: auto;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
    }




}