.navlink {
    width: 10%;
    border-bottom: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 0;
}

.logoContainer {
    width: 25%;
    margin-left: 3%;
    padding-bottom: 0;
}

.logo {
    width: 25%;
}

.navbar {
    padding-bottom: 0;
    margin-top: -7px;
    position: relative;
    z-index: 1000;
    background: linear-gradient(to right, #A6BC97 80%, #F0D8B2 20%);
    position: fixed;
    height: 70px;
}

#offcanvasNavbar {
    background: #A6BC97;
}

.handleToggle {
    border: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding-bottom: 0;
        /* margin-top: px; */
        position: relative;
        z-index: 1000;
        background: linear-gradient(to right, #A6BC97 80%, #F0D8B2 20%);
        position: fixed;
        height: 50px;
    }

    .logo {
        width: 50%;
    }

    .logoToggle {
        width: 20%;
    }

    .navlink {
        width: 100%;
        border: none;
        border-radius: none;
        text-align: center;
        padding: 13px 0;
    }

    .navlink:hover {
        background-color: #F0D8B2;
    }
}