.navlink {
    text-align: center;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.navlink:hover {
    border: 2px solid #A6BC97;
    border-radius: 10px;
}


.logoContainer {
    width: 40%;
    margin-left: 6%;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.logoContainer:hover {
    cursor: not-allowed
}


.logo {
    width: 15%;
    height: auto;
}

.navbar {
    background: linear-gradient(to right, #A6BC97 70%, #F0D8B2 30%);
    height: 70px;
    padding-right: 3%;
    position: fixed;
    z-index: 2;
}

#offcanvasNavbar {
    background: #A6BC97;
}

.handleToggle {
    border: none;
}

.togleText {
    margin-top: 1px;
    border: none;
}

.togleText:focus {
    border: none;
}

.toggleCont:focus {
    border: none;
}

.dropCont {
    background-color: #F0D8B2;
    border: none;
    text-align: center;
}

.dropItem:hover {
    background-color: #A6BC97;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding-bottom: 0;
        /* margin-top: px; */
        position: relative;
        z-index: 1000;
        background: linear-gradient(to right, #A6BC97 80%, #F0D8B2 20%);
        position: fixed;
        height: 50px;
    }

    .logo {
        width: 25%;
        height: auto;
    }

    .logoToggle {
        width: 20%;
    }

    .navlink {
        width: 100%;
        border: none;
        border-radius: none;
        text-align: center;
        padding: 13px 0;
    }

    .navlink:hover {
        background-color: #F0D8B2;
    }

}