.product-page {
    width: 90%;
    margin: auto;
    padding-top: 130px;
    margin-bottom: 100px
}

.product-texts-section {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
}

.ProductButton {
    width: 100%;
    padding: 15px;
    background-color: #406627;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
}

.ProductButton:hover {
    background-color: #C4D3BA;
    color: #406627;
}


.product-page h4 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
}

.product-description {
    font-size: 28px;
    font-weight: medium;
    margin-bottom: 10px;
}

.product-text {
    font-size: 20px;
    font-weight: medium;
    margin-bottom: 20px;
}

.weight {
    font-size: 24px;
    font-weight: medium;
    color: #4D7A2F;
    margin-bottom: 30px;
}

.varietiestext {
    font-size: 20px;
    font-weight: medium;
}

.other-varieties {
    width: 100%;
}

.all-kgs {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
}

.kg {
    padding: 10px 20px;
    font-size: 12px;
    background-color: #F7ECD9;
}

.kg1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.kg2 {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.kg3 {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.customerTitle {
    font-size: 24px;
    font-weight: medium;
    line-height: 32px;
}

.star-container {
    display: flex;
    margin-top: 25px;
}

.star {
    width: 50px;
    height: 50px;
}

.customerReview {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .product-page {
        width: 100%;
        margin: auto;
        padding-top: 100px;
        margin-bottom: 100px;
        display: block;
    }

    .product-cashew {
        width: 100%;
        margin: auto;
    }

    .product-texts-section {
        padding-left: 2%;
        padding-right: 2%;
        margin-top: 10px;
    }

    .other-varieties {
        width: 100%;
        text-align: left;
    }

    .varietiestext {
        font-size: 20px;
        font-weight: medium;
    }

    .star-container {
        justify-content: left;
    }

    .kg1 {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .kg2 {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .kg3 {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

}

@media screen and (max-width: 884px) {

    .product-page {
        width: 100%;
        margin: auto;
        padding-top: 100px;
        margin-bottom: 100px;
        display: block;
    }

    .product-cashew {
        width: 100%;
        margin: auto;
    }

    .product-texts-section {
        padding-left: 2%;
        padding-right: 2%;
        margin-top: 50px;
    }

    .ProductButton {
        margin-top: 30px;
    }

    .kg1 {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .kg2 {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .kg3 {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .customerReview {
        text-align: left;
    }
}